---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{title} | FitQuest</title>
    <ClientRouter />
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <slot />
</body>
</html>